%import x

<form id="frm_reset_password" autocomplete="off" class="auth-form">

    <input name="user_password" type="password" placeholder="Password" value="" mix-check="{{x.USER_PASSWORD_REGEX}}">        
    
    <input name="user_confirm_password" type="password" placeholder="Confirm Password" value="" mix-check="{{x.USER_PASSWORD_REGEX}}">

    <input type="hidden" name="key" value="{{ key }}">
    
    <button class=""
        mix-data="#frm_reset_password"
        mix-post="/reset-password"
        mix-default="Reset"
        mix-await="Please wait ..."
    >
        Send
    </button>
    
</form>