%import x

<form id="frm_change_password" autocomplete="off" class="auth-form">

    <input name="user_old_password" type="password" placeholder="Old Password" value="" mix-check="{{x.USER_PASSWORD_REGEX}}">        

    <input name="user_password" type="password" placeholder="New Password" value="" mix-check="{{x.USER_PASSWORD_REGEX}}">        
    
    <input name="user_confirm_password" type="password" placeholder="Confirm Password" value="" mix-check="{{x.USER_PASSWORD_REGEX}}">    
    
    <button class=""
        mix-data="#frm_change_password"
        mix-post="/change-password"
        mix-default="Change"
        mix-await="Please wait ..."
    >
        Send
    </button>
    
</form>