%import x

%include("_header")
<main>
    <section>
        <div class="auth-container">
            <h2>Forgot Password</h2>
            <form id="frm_forgot_password" autocomplete="off" class="auth-form">
                <input name="user_email" type="text" placeholder="Email" value="" mix-check="{{x.USER_EMAIL_REGEX}}">
                <button class=""
                    mix-data="#frm_forgot_password"
                    mix-post="/forgot-password"
                    mix-default="Send"
                    mix-await="Please wait ..."
                >
                    Send
                </button>
                <a href="/login">Go to login</a>
            </form>
        </div>
    </section>
</main>
%include("_footer")