<main>
    <section>
        <h2>Forgot Password Email</h2>
        <p>Dear user,</p>
        <p>We received a request to reset your password for your J.Homes account associated with this email address. 
            If you didn't make this request, please ignore this email. Otherwise, please click the link below to reset your password:
        </p>
        <p><a href="http://0.0.0.0:80/reset-password/{{verification_key}}">Reset Password Link</a></p>
        <p>This link will expire in 24 hours. If the link has expired, you can request a new one by visiting our Forgot Password page.</p>
        <p>Thank you!</p>
        <br>
        <p>J.Homes</p>
    </section>
</main>