<main>
    <section>
        <h2>Delete Profile Email</h2>
        <p>Dear user,</p>
        <p>We received a request to delete your profile at J.Homes.
            If you didn't make this request, please ignore this email. Otherwise, please click the link below to delete your profile:
        </p>
        <p><a href="http://0.0.0.0:80/delete-profile/{{verification_key}}">Delete Profile Link</a></p>
        <p>This link will expire in 24 hours. If the link has expired, you can request a new one by logging into our system.</p>
        <p>Thank you!</p>
        <br>
        <p>J.Homes</p>
    </section>
</main>