
    <footer class="footer">
        <div class="container">            
            <a href="/" class="logo">
                <svg class="logo-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
                </svg>
                <span class="logo-text">Home</span>
            </a>    
            <p>&copy; <span id="year">2024</span> J.Homes. All rights reserved.</p>
        </div>
    </footer>
</div>
</body>
</html>