
    <footer class="footer">  
            <div>
                <ul>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Cookie Settings</a></li>
                </ul>
            </div>                              
            <div>
                <p>&copy; <span id="year">2024</span> J.Homes. All rights reserved.</p>        
            </div>
            
            <div>   
                <a href="#">
                    <img src="/images/facebook.svg">
                </a>             
                <a href="#">
                    <img src="/images/instagram.svg">
                </a>
                <a href="#">
                    <img src="/images/xbox.svg">
                </a>
            </div>
    </footer>
</div>

</body>
</html>